{% extends "layout.html" %}

{% block title %}Conferma Prenotazione{% endblock %}

{% block content %}
    <title>Appuntamenti Clienti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='appuntamenti_cliente.css') }}">

<div class="appuntamenti-cont">
<h1>I Miei Appuntamenti</h1>
<h4>Inserisci il codice ricevuto via SMS per trovare i tuoi appuntamenti</h4>

<form id="cercaCodiceForm">
    <input type="text" id="codice" name="codice" placeholder="Codice SMS" required><br><br>
    <input class="button-cerca" type="submit" value="Cerca con Codice">
</form>
</div>

<div class="risultatoCodice" id="risultatoCodice"></div>


<script src="{{ url_for('static', filename='appuntamenti_cliente.js') }}"></script>
{% endblock %}
