{% extends "layout.html" %}

{% block title %}Conferma Prenotazione{% endblock %}

{% block content %}
<title>Conferma Prenotazione</title>
<link rel="stylesheet" href="{{ url_for('static', filename='confirmationPage.css') }}">

<div class="prenotazione-card">
    <h1>Conferma la tua prenotazione</h1>
    <p>Servizio: {{ trattamento }}</p>
    <p>Data: {{ formatted_data }}</p> 
    <p>Ora: {{ ora }}</p>

    <hr>

    <h2>Inserisci i tuoi dati:</h2>
    <form id="confirmation-form" method="POST" action="{{ url_for('main.finalizza') }}">
        <input type="hidden" name="trattamento" value="{{ trattamento }}">
        <input type="hidden" name="data" value="{{ data }}"> 
        <input type="hidden" name="ora" value="{{ ora }}">

            <input type="text" id="nome" name="nome" placeholder="Nome" required>
            <div class="email-verification-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
                <button class="verifyStart" type="button" id="send-verification-code">Verifica Email</button>
            </div>
            <div id="email-error">Email non valida.</div>

            <div class="email-verification-group" id="verification-section" style="display: none;">
            <input type="text" id="verification-code" name="verification-code" placeholder="Codice di Verifica" required>
            <button class="verifyStart" type="button" id="verify-code">Invia</button>
        </div>

        <button type="submit" id="confirm-booking" disabled>Conferma Prenotazione</button>
    </form>
</div>
<script src="{{ url_for('static', filename='formControl.js') }}"></script>
{% endblock %}
