{% extends "layout.html" %}

{% block title %}Conferma Prenotazione{% endblock %}

{% block content %}
<title>Conferma Prenotazione</title>
<link rel="stylesheet" href="{{ url_for('static', filename='confirmationPage.css') }}">



<div class="prenotazione-card">
    <h1>Conferma la tua prenotazione</h1>
<p>Servizio: {{ trattamento }}</p>
<p>Data: {{ data }}</p>
<p>Ora: {{ ora }}</p>

<hr>

<h2>Inserisci i tuoi dati:</h2>
<form id="confirmation-form" method="POST" action="{{ url_for('main.finalizza') }}">
    <input type="hidden" name="trattamento" value="{{ trattamento }}">
    <input type="hidden" name="data" value="{{ data }}">
    <input type="hidden" name="ora" value="{{ ora }}">
    <input type="text" id="nome" name="nome" placeholder="Nome" required>
    <input type="text" id="phone" name="phone" placeholder="Cellulare" required>
    <button type="submit">Conferma Prenotazione</button>
</form>
</div>
{% endblock %}
